/* GLOBAL */
section {
  padding: 50px 0;
}

.gs-container {
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.gs-btn-custom {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
  border: 1px solid #000;
  outline: #000 solid 2px;
}

h2 {
  font-size: 40px;
  padding: 15px 0;
}

/* HEADER */
.gs-header-top {
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.gs-header-top img {
  height: 20px;
}

/* navbar*/
.gs-arrow {
  display: inline-block;
  width: 10px;
}

.gs-arrow img, .gs-ps3-image img {
  width: 100%;
}

.gs-btn-navbar {
  padding: 8px 18px;
  background-color: #000;
  border-color: #000;
  color: #fff; 
}

.gs-btn-navbar:hover {
  outline: #000 solid 2px;
  border: 1px solid #fff;
  transition: all 1s;
}

.gs-search img{
  width: 50%;
}

/* dropdown */
.nav { margin-bottom: 0; }
.dropdown { position: static; }
.dropdown-menu { width: 100%;}

.gs-ul-dd, .gs-ul-dd-second {
  list-style: none;
}

.gs-ul-dd-second a:hover {
  background-color: #0070D0;
  color: #fff;
}


/* MAIN */
.gs-jumbotron, .gs-new-top, .gs-new-bottom {
  color: #fff;
}


/* jumbotron 1&2 */
.gs-jumbotron {
  padding-bottom: 30px;
}

.gs-bg-jumbo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gs-bg-jumbo.first { 
  margin-top: 110px;
  padding-top: 200px;
  background-image: url(../img/jumbo-bg.png);
}

.gs-bg-jumbo.second {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.gs-vg-name {
  padding-top: 50px;
  width: 50%;
}

.gs-vg-name img {
  width: 100%;
}

.gs-btn-jumbo {
  color: #fff;
  background-color: #CD3D0F;
  border: 1px solid #CD3D0F;
  outline: #CD3D0F solid 2px;
}

.gs-btn-jumbo:hover {
  color: #fff;
  outline: #CD3D0F solid 2px;
  border: 1px solid #fff;
  transition: all 1s;
}


/* Play station 5*/
.gs-ps5-top {
  margin-bottom: 50px;
}

.gs-box-round {
  border: 2px solid #fff;
  padding: 2px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  opacity: 60%;
}

.gs-box-round-active {
  border: 2px solid #2D64E7;
}

.gs-box-round:hover {
  opacity: 100%;
  margin-top: -10px;
  transition: all 1s;
}

.gs-content-round {
  border-radius: 18px;
  overflow: hidden;
}

.gs-content-round img {
  width: 100%;
}

#gs-blue-p {
  text-transform: uppercase;
  color: #0072CE;
  padding: 0;
  margin: 0;
}

.gs-ps5-bottom h1 {
  margin: 0;
  padding-bottom: 30px;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 24px;
}

/* Console section */
.gs-console-textarea p {
  margin: 30px 0;
}

.gs-btn-ps5 {
  color: #fff;
  background-color: #2D64E7;
  border: 1px solid #2D64E7;
  outline: #2D64E7 solid 2px;
}

.gs-btn-ps5:hover {
  outline: #2D64E7 solid 2px;
  border: 1px solid #fff;
  transition: all 1s;
}

.gs-container-xs {
  max-width: 98%;
}

.gs-console-image, .gs-console-image img, .gs-box-console img {
  width: 100%;
}

.gs-box-console {
  margin: 20px 0;
  opacity: 50%;
  cursor: pointer;
}

.gs-box-console:hover {
  opacity: 100%;
  transition: all 1s;
}

.gs-box-console-text {
  text-align: center;
  font-size: 15px;
}

.gs-console-bottom {
  margin-bottom: 20px;
}


/* New entries section */
.gs-bg-new {
  padding: 30px;
  background-color: #202020;
}

.gs-new-top h3, .gs-new-top h4 {
  padding-bottom: 25px;
}

.gs-box-game {
  margin-bottom: 20px;
}

.gs-box-game a, .gs-box-game a p{
  text-decoration: none;
  color: #fff;
}

.gs-cover {
  width: 100%;
}

.gs-cover img {
  width: 100%;
  display: block;
}

.gs-cover-name {
  padding-top: 10px;
}

/* PlayStation 4 section */
.gs-explore-top h2, .gs-explore-top p {
  padding: 20px 0;
}

.gs-explore-bottom {
  padding-top: 40px;
}

.gs-explore-box {
  margin-bottom: 20px;
}

.gs-explore-box a, .gs-explore-box:hover a{
  text-decoration: none;
  color: #fff;
}

.gs-cover-name {
  color: #000;
}

/* PlayStation Plus section - Now section */
.gs-bg-plus {
  background-color: #BEBCBB;
  padding: 0;
}

.gs-logo-plus, .gs-logo-now {
  width: 70%;
}

.gs-logo-now img, .gs-logo-plus img, .gs-plus-image img, .gs-now-image img {
  width: 100%;
}

.gs-plus-text p {
  padding: 20px 0;
}

.gs-btn-plus {
  background-color: #D9DADC;
  color: #2D64E7;
  border: 1px solid #D9DADC;
  outline: #D9DADC solid 2px;
}

.gs-btn-plus:hover {
  outline: #C6C5C5 solid 2px;
  border: 1px solid #C6C5C5;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  .gs-plus-text, .gs-now-text {
    margin: 30px 0;
  }
}

/* Sales section */
.gs-sales-top {
  text-align: center;
}

.gs-sales-top h2, .gs-sales-top p, .gs-sales-image {
  padding: 20px 0;
}

.gs-sales-bottom {
  padding: 50px 0;
}

.gs-sales-image img {
  width: 100%;
}

.gs-sales-image:hover {
  scale: 1.1;
  transition: all 2s;
}

@media screen and (max-width: 576px) {
  .gs-sales-image:hover {
    scale: 0.9;
  }
}

/* Now section */
.gs-bg-now {
  background-color: #161C3B;
  color: #fff;
  padding: 0;
}

.gs-now-text p {
  padding: 10px 0;
}

.gs-btn-now {
  border: 1px solid #F0F0F0;
  outline: #F0F0F0 solid 2px;
}

.gs-btn-now:hover {
  border: 1px solid #161C3B;
  transition: all 1s;
}

/* Social section */
.gs-social-top p {
  font-size: 40px; 
}

.gs-social-item {
  margin-bottom: 20px;
  box-shadow: 0 15px 8px 5px #f0e1e1;
}

.gs-social-item:hover {
  scale: 1.1;
  transition: all 1s;
}

.gs-social-item img {
  width: 100%;
}

/* FOOTER */
footer {
  color: #fff;
  background-color: #00439C;
  padding: 50px 0;
}

.ps-little-logo {
  width: 25%;
}

.ps-little-logo img {
  width: 100%;
}

.ps-little-text {
  margin-bottom: 30px;
}

.ps-little-text div{
  display: inline-block;
  padding-top: 30px;
}

.lang {
  width: 35px;
  padding-right: 15px;
}

.ps-little-text img{
  width: 100%;
}

/* footer list structure */
.gs-footer-list ul {
  list-style: none;
  margin-bottom: 40px;
}

.gs-footer-list ul .gs-main-list {
  padding-right: 40px;
}

.gs-footer-list ul li a {
  text-decoration: none;
  color: #fff;
}

/* footer bottom */
.gs-footer-bottom p {
  font-size: 14px;
}

.gs-sony-logo {
  width: 200px;
  margin-bottom: 10px;
}

.gs-sony-logo img {
  width: 100%;
}























