/* altezze e background-color da togliere */
/* GLOBAL */
section {
  min-height: 300px;
  margin-bottom: 30px;
  background-color: rgb(243, 192, 192);
}

.gs-container {
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(193, 231, 176);
}


/* HEADER */
.gs-header-top {
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.gs-header-top img {
  height: 20px;
}

.gs-header-bottom {
  height: 80px;
}

/* MAIN */
main {
  margin-top: 110px;
}

.gs-jumbotron, .gs-new-top, .gs-new-bottom {
  color: #fff;
}


/* jumbotron 1 */
/* .gs-jumbotron {
  padding-top: 50px;
} */


/* play station 5*/
.gs-box {
  margin: 10px;
  height: 100px;
  background-color: rgb(191, 243, 247);
}

.gs-bg-now {
  background-color: #161C3B;
  color: #fff;
}

.gs-ps5-bottom {
  text-align: center;
}








footer {
  height: 200px;
  color: #fff;
  background-color: #00439C;
}






















