/* altezze e background-color da togliere */
/* GLOBAL */
section {
  margin-bottom: 10px;
  background-color: rgb(243, 192, 192);
}

.gs-container {
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.gs-btn-custom {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

/* HEADER */
.gs-header-top {
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.gs-header-top img {
  height: 20px;
}

/* .gs-header-bottom {
  height: 80px;
} */

/* navbar*/
.navbar-brand {
  vertical-align: middle;
}


/* MAIN */
.gs-jumbotron, .gs-new-top, .gs-new-bottom {
  color: #fff;
}


/* jumbotron 1&2 */
.gs-jumbotron {
  padding-bottom: 30px;
}

.gs-bg-jumbo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gs-bg-jumbo.first { 
  margin-top: 110px;
  padding-top: 200px;
  background-image: url(../img/jumbo-bg.png);
}

.gs-bg-jumbo.second {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.gs-vg-name {
  padding-top: 50px;
  width: 50%;
}

.gs-vg-name img {
  width: 100%;
}

.gs-jumbotron h2 {
  font-size: 40px;
  padding: 15px 0;
}

.gs-btn-jumbo {
  color: #fff;
  background-color: #CD3D0F;
}


/* Play station 5*/
.gs-ps5-top {
  padding: 20px 0;
}

.gs-box-round {
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(191, 243, 247);
}

.gs-box-round img {
  width: 100%;
}

#gs-blue-p {
  text-transform: uppercase;
  color: blue;
  padding: 0;
}

.gs-ps5-bottom h2, .gs-ps5-bottom p {
  margin: 0;
  padding-bottom: 20px;
}

/* Console section */
.gs-console-textarea p {
  margin: 30px 0;
}

.gs-btn-ps5 {
  color: #fff;
  background-color: #2D64E7;
}

.gs-console-image, .gs-console-image img, .gs-box-console img {
  width: 100%;
}

.gs-box-console {
  margin: 20px 0;
}

/* New entries section */
.gs-bg-new {
  padding: 30px;
  background-color: #202020;
}

.gs-box-game {
  margin-bottom: 20px;
}

.gs-box-game a, .gs-box-game a p{
  text-decoration: none;
  color: #fff;
}

.gs-cover {
  width: 100%;
}

.gs-cover img {
  width: 100%;
  display: block;
}

/* PlayStation 4 section */
.gs-explore-top h2, .gs-explore-top p {
  padding: 20px 0;
}

.gs-explore-box {
  margin-bottom: 20px;
}

.gs-explore-box a, .gs-explore-box:hover a{
  text-decoration: none;
  color: #fff;
}

/* PlayStation Plus section */
.gs-logo-plus, .gs-logo-now {
  width: 70%;
  background-color: rgb(156, 136, 136);
}

/* .gs-plus-image, .gs-now-image {
  width: 100%;
} */

.gs-logo-now img, .gs-logo-plus img {
  width: 100%;
}


/* Sales section */
.gs-sales-top {
  text-align: center;
}

.gs-sales-top h2, .gs-sales-top p {
  padding: 20px 0;
}

.gs-sales-image {
  margin-bottom: 20px;
}

.gs-sales-image img {
  width: 100%;
}

/* Now section */
.gs-bg-now {
  background-color: #161C3B;
  color: #fff;
}

.gs-now-text p {
  padding: 10px 0;
}

/* Social section */
.gs-social-top p {
  font-size: 30px;
  padding-bottom: 20px;
}

.gs-social-item {
  margin-bottom: 20px;
}

.gs-social-item img {
  width: 100%;
}

/* FOOTER */
footer {
  color: #fff;
  background-color: #00439C;
}

.gs-footer-top {
  padding-top: 20px;
}

.gs-footer-list ul {
  list-style: none;
}

.gs-footer-list ul li {
  padding: 0 10px;
}

.gs-footer-list ul li a {
  text-decoration: none;
  color: #fff;
}





















